<div class="wrapper">
  <% @grid.each do |grid_row| %>
    <% grid_row.each do |square| %>
      <div class="square <%= square[:walls] %> x-<%= square[:x] %> y-<%= square[:y] %>">
        <div></div>
      </div>
    <% end-%>
  <% end %>
</div>

<div class="end-goal-details" data-x-position="<%= @deepest_recursion[:deepest_x_position] %>" data-y-position="<%= @deepest_recursion[:deepest_y_position] %>"></div>
